

.discuss-conversation-header-container {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAAAyCAYAAAAp8UeFAAAHvklEQVR42s2b63bcNgyEQZCSHCdt2vd/0tWF7I+Q6XgMXiTtuvU5Pl57ZQKkKHzEAOtF5KeIJBGJ8uvL599FRFREZhFx8DeXv8trn68RuGaC8TRfo3SNp9dlDDHedyLyTUTeRWStXKPZrjtpZxaRw5hPqozRs1N8/enzIiQRWcCgy4MUA0f+XWliDhyL8Lfyvx7ei/Ae3iQFHyw7U/59pQVIMEEPEz0G7XiwdRjzSfC3UTtz9vchIntxvry5iMgfIhJoEflOz2CQr3F5h/HfeFe+GTdLaKcu9L8LTeQb/R/7GgbsfKedyNdoHsN31uRPWrfZ5wsj/NzzRQHuToIdU3ahwnsKPxXCjJITuOsi7XLc7SG/v5GdALs7wf8JjTFiB5+QvTEfRyGOfX3Lrx8wxyQi3sNq46O7QahQiCsRFgqddjBouVEHOKDgXAQHD9gJCr5sMKkEdjwsarG/ww3BMHBU7OBjXnzdyY7SfCxf5/z6ATccrwlKuwC/jhznnPF4CgVzhhVf4xp2EixcBActO75iZ8/fM9zAs2OMzKdslgXWJ9XG8PQoOAMA5fGcsvORgv0doBXyHrCwfLJAOwo71QLNkb8n2Pl6EWiR7OCibtkPaz4Kc/0NNAze2gju3zOwekALDaCFPI5vjPFmgGY5AZqyGEvH1x7QfIb8YtxMnA/b+QQ0aQDAwc6JMFg8CbQZ4qoYEEHbRwNojuK3EHwd7VALSgq+MNDKzfT58T8qdpADrgW0GmgcAS1lhzztJmkAzcPNOQbsWEALBDSlMKUG0Eq4CLAQWvEVQ9WU57gZJwZtgPO3r9oBTQ9WO8TjqXINx8R0EYpiZEUWOF3FxkbJkgU9B2f41YBrIj5ZfsQa0M5kTgiAAqM3ShXLgu8XMqcrQBvJ0CL5pnTsfMB13oB8athpAq2XOQmcGmoACCLydx7nToa23ATaSIY2ichfOdPTGxlasXMLaL0MLZAOwAKIM+y8CmicobGdCcbbK9DzN+yYGVoNNI5iUKTMyYOjPse4A8SM1MmcXgU0toOq1yO/v8FOxlASyc7TgeYaAMBJHcY1CcCwGI/TK4AmDbDyKYBBtFUkRwto8gygiQEaByFgJ00BH2M8JWwQS1nafDXQCidWyOI8AcjDCSjCLk8ngObuAm3JAHAdubAmOaK06V8MNEsKPJOhobSprwQa6gD7DclRQdqcwL4zxqgBrQcabUiBLclRDKAlWp+etPkBaNMA0AKlrHwTdEByZAA4GM+SNluSY6wAzcMNewxmgig5Ks0nkrSpBvSaQHMdKTBAnLojOdYyGpQ254602ZILPdTD1hdlggdIm74jbTp8vDwF5ZYUeLWGJpWsh6XNyXgcYwVoJQTEhhTYkxzZjiU5npU2TaB979TQehlaAVq4kaGpiPwwwLkYUuBbQwocyQTv1tA0+1UFWoJF3iv1oq+qoSk8EQdJmwHkziIF7oOZk14EGitibAdjLYYK78H5vZOhtWpoI0ATGHs0Q8OMb4Ey+2bU2UYztCtA0wFAs7TplGLRVQCcqaFdGSPCeTI1QNIC52iWNzof6Uib7xjEp07mNNoUYmVosVItHrHzRlLgBn9LFyRHaQCtVUMbtTNhoXWiTOO9k/V8BdAc1Oq0ArSQs6/5SU0hckNy9NnXqQY0PGYo5dWJ7nINaN6o958FWin27aBaWRka1r5myvLOAm0j30eBJqCxHLReVclxhxOEN2JfDWjxBtAC7MIH1fVaGdoOp4qJYDgKtKPSFNID2gSnGldrCqkFZ+5UeQXQBIRrSwocbdZYQT/2LwRahBPBXoHrB8nxaGROST62DKUbQOMMzZIC9abkuELfQzQALWTnDNAm8KHWFOJgJ5+SHIvTPcmx1xQyZRhNL5Qci689aXMEaN/uNIWkEwDAvFpOZmgsBaaGnbs1NPa1Jm32gBZAIh1pCtG7TSH4aE0y1uVY4uqoFPisGlpP2rSA5qTecWn5agK6BzSpgAyD+wFaqhnYoSZ1Vwr8CmlTQbrcO3ZaX0NAEyMbYaAlyquFoLKK3SPby9CeVUPThrSJmkCAE0CrKUQadi4DrdSlWhmah0YL9z9vClH59YGbHx1J8VZTyAjQepJjmXwAKTDQI3omc3p1U4gDUf6RfcdYfrUp5ClAi2J3Ba6UOXGo+K+bQrjjssitG2SJzshaLwMtXgRagUNpYYoVkMSBLM+9GGiJZMvduG6DRZ4qc04DMPtQQxOjEtACmhO7K1AbNbQDEggZyJwscFpAGwENhoBeUwh3bWolhe8BTYVKxQEWrSUn/uhcM5KhvUu/+eQu0Lzhi+VrK0PrZZNDQKs9cpYUuFYgMVpD4/NxenJTiMCNqdUEUf1qZWjppLT5qSkkUZbCwkbZMSuVnu80hfSkzRbQeqCZSAh6huR4VtoM2gHAlLf72smuWgE+VV7XpE25Ab2WFDgyhnSuKbs4GuGzCjR+tIoUuMFg3kgcWKLTwRqanJQ2W00hAsenfaApRC42hbCvK1SlE0HtE9BGgneJO+ELamitD1YjjOYnNYVcraGhtKkW0EqVVeDx733I2NH581k1NNxNLG0i0IJ8/NjVaOZ0tYZ2Vtr0Xv7tPV3hkWp9EFkgS/J0vosngTaSoaG06WHi+xObQkaAdlbanP8B2+2l0f90LmUAAAAASUVORK5CYII=");
    background-repeat: repeat;
}

.discuss-conversation-header-badges {
    padding: 0;
    margin: 0 0.5rem 1rem 0;
    list-style: none;

    .tag {
        border-radius: 50%;
        padding: 0.30em;
    }
}

.discuss-conversation-header-badges-item {
    display: inline-block;

    > span > i {
        height: 12px;
        width: 12px;
    }
}

.discuss-conversation-header-categories {
    display: inline-table;
    margin: 0 1rem 1rem 0;
}

.discuss-conversation-header-badges .tag,
.discuss-conversation-header-categories .tag {
    color: $white;
}

.discuss-conversation {
    padding: 15px;
}

.discuss-conversation:first-child {
    margin-bottom: 10px;
}

.discuss-conversation:not(.discuss-conversation-solved):not(:first-child) {
    border-top: 2px dashed #e7edf3;
}

// Solved
.discuss-conversation-solved {
    box-shadow: inset 0px 0px 10px 0px $white;
    border-radius: 4px;
    margin-bottom: 10px;

    .discuss-conversation-meta,
    .discuss-conversation-content {
        color: $white;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    .discuss-conversation-actions a.btn,
    .discuss-conversation-actions button.btn {
        color: $white;
        text-decoration: underline;
    }
}

.discuss-conversation-user-solved {
    width: 70px;
    height: 70px;
    background-color: $white;
    padding: 0 11px;
    display: flex;
    position: relative;

    img {
        opacity: 0.2;
        position: absolute;
        left: 0;
        top: 0;
    }

    .discuss-conversation-user-solved-icon {
        position: absolute;
        vertical-align: middle;
        line-height: 70px;
    }
}

.discuss-conversation-user {
    width: 70px;
    position: relative;

    img {
        width: 70px;
        height: 70px;
    }

    .discuss-conversation-user-rubies {
        position: absolute;
        right: 0;
        background-color: $white;
        border-radius: 50%;
        border: 2px solid #ddd;
        padding: 4px 3px 3px;
        width: 28px;
        height: 28px;
    }
}

.discuss-conversation-post {
    padding-left: 80px;
}

.discuss-conversation-content,
.discuss-conversation-actions,
.discuss-conversation-signature {
    display: block;
    padding: 10px 0;
}

.discuss-conversation-actions,
.discuss-conversation-post-meta-share {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
}

.discuss-conversation:hover .discuss-conversation-actions,
.discuss-conversation:hover .discuss-conversation-post-meta-share {
    visibility: visible;
    opacity: 1;
}

.discuss-conversation-content {
    img {
        max-width: 100%;
    }
}

.discuss-conversation-content,
.discuss-conversation-actions  {
    border-bottom: 1px dotted #ddd;
}

.discuss-conversation-actions {
    padding: 10px;
}

.discuss-conversation-actions {
    @include clearfix();
}

.discuss-conversation-signature {
    padding-bottom: 0;
}

// Comment
.discuss-conversation-comment {
    padding: 15px;
    border-top: 2px dashed #e7edf3;
}

.discuss-conversation-comment-media {
    width: 70px;

    img {
        width: 70px;
        height: 70px;
    }
}

.discuss-conversation-comment-content {
    padding-left: 80px;
}

// Log
.discuss-conversation-log {

    img {
        border: 2px solid #ddd;
        width: 30px;
        height: 30px;
    }
}

.discuss-conversation-log-icon {
    float: left;
    margin-right: 10px;

    i {
        font-size: 1.5em;
    }
}

.discuss-conversation-post-meta-experiences {
    i {
        color: $brand-experiences;
    }
}