.idea
.vscode
.idea
.settings
.brackets.json
.env
.env.testing
.directory
.vagrant
.phpunit.result.cache
scheduler.log
vagrant-ssh.bat
Homestead.json
Homestead.yaml
composer.lock
package-lock.json
studio.json
vagrant-ssh
after.sh
aliases
Vagrantfile
/node_modules
/plugins
/public/storage
/public/coverage
/public/vendor/editor.md/
/public/editor-md/
/public/css
/public/fonts
/public/images
/public/js
/public/music
/public/media
/public/tests
/public/mix.*.js
/public/mix-manifest.json
/storage/*.key
/storage/media-library
/storage/framework/browscap.ini
/vendor
