.idea
.vscode
.settings
.brackets.json
.env
.env.testing
.directory
/config/recaptcha.php
Homestead.json
Homestead.yaml
composer.lock
/node_modules
/public/storage
/public/coverage
/storage/*.key
/vendor
