.idea
.vscode
.idea
.settings
.brackets.json
.env
.env.testing
.directory
.vagrant
.phpunit.result.cache
scheduler.log
vagrant-ssh.bat
Homestead.json
Homestead.yaml
composer.lock
package-lock.json
studio.json
vagrant-ssh
after.sh
aliases
Vagrantfile
laravel.log
/node_modules
/plugins
/public/storage/
/public/coverage/
/public/vendor/editor.md/
/public/css/
/public/js/xetaravel.min.js
/public/js/xetaravel.admin.min.js
/public/media/
/public/tests/
/public/mix.*.js
/public/mix-manifest.json
/storage/*.key
/storage/media-library
/storage/framework/browscap.ini
/vendor
/resources/assets/sass/OLD