@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-xetaravel: "Miriam Libre";
}

@plugin "daisyui" {
    themes: light --default, dark;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #f4645f;
    --color-base-content: #48566a;
    --color-primary-content: #ffffff;
}
@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #f4645f;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
