.card {
    .fileinput {
        display: block;

        &-new,
        &-exists {
            max-width: 100%;
            max-height: 250px;

            & img {
                max-width: 100%;
                max-height: 250px;
                border: 1px solid $brand-primary;
                padding: 4px;
                border-radius: 0.18rem;
            }
        }
    }
}
