html {
    position: relative;
    min-height: 100%;
    word-wrap: break-word;
}

body {
  padding-top: 59px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: $body-color;
}

@media (max-width: 768px) {
    body {
        padding-top: 0;
        margin-bottom: 120px !important;
    }
    .pos-f-t {
        position: static;
    }
}

.font-xeta {
    font-family: $font-family-xeta;
}
