// Custom variables

// Body
$body-color: #fff;

// Selection
$selection-background:  #f7a5a2 !default;
$selection-color:       #fff !default;

// Variables
@import "../bootstrap/variables";

// Mixins
@import "../bootstrap/mixins";
@import "../mixins";

// Plugins
@import "../jvectormap/jvectormap";
@import "../morris/morris";

// Components
@import "../scrollup";
@import "../nav";
@import "../sidebar";
@import "../scrollbar";
@import "../modal";

// Application
@import "scaffolding";
@import "navbar";
@import "footer";
@import "interface";
@import "widget";
@import "profile";
