
.showcase {
  position: relative;
  background-color: #2a2c3a;
  color: #fff;
  text-align: center;
}
.showcase h1 {
  margin-bottom: 15px;
  line-height: 120%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}
.showcase .description {
  margin-bottom: 30px;
}

#particles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

/*
 * Blog posts
 */

.blog {
    &-post {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px dashed #e7edf3;

        &:not(:last-of-type) {
            border-bottom: none;
        }

        &-title {
          font-size: 40px;
        }

        &-meta {
            margin-bottom: 1.25rem;
            color: #999;
          }

        &-banner {
            object-fit: fill;
            max-width: 100%;
            opacity: 0.9;
            border: 1px solid $brand-primary;
            padding: 5px;
            border-radius: 4px;
        }
    }

    &-footer {
        margin-top: 3rem;
      }
}

/*
 * Blog Article
 */

 .blog {
    &-article {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px dashed #e7edf3;

        &-title {
          font-size: 40px;
        }

        &-meta {
            margin-bottom: 1.25rem;
            color: #999;
          }

        &-banner {
            object-fit: fill;
            max-width: 100%;
            opacity: 0.9;
            border: 1px solid $brand-primary;
            padding: 5px;
            border-radius: 4px;
        }
    }
}

/**
  * Author
  */
.author {
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid $brand-primary;

    &-user {
        position: relative;
        width: 90px;
    }

    &-body {
        min-height: 130px;
        padding-left: 100px;

        &-title {
            font-size: 24px;
            margin-bottom: 12px;
        }

        &-subtitle {
            margin-top: -6px;
            margin-bottom: 0;
          }
    }
}

/**
 * Comment Form
 */
 .comments {
    display: flex;
    flex-direction: column;
 }

.comment {
    padding: 15px;

    &:not(:first-of-type) {
        border-top: 2px dashed #e7edf3;
    }

    &:hover {
        &  .comment-post-actions,
        &  .comment-post-meta-share {
            visibility: visible;
            opacity: 1;
        }
    }

    &-user {
        position: relative;
        width: 70px;
    }

    &-post {
        min-height: 130px;
        padding-left: 80px;

        &-meta-experiences > i {
            color: #f39c12;
        }

        &-meta-share,
        &-actions {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.25s linear;
        }

        &-actions {
            border-bottom: 1px dotted #ddd;
        }
    }
}

.author-user,
.comment-user {
    &-rubies {
        position: absolute;
        right: 0;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #ddd;
        padding: 4px 3px 3px;
        width: 28px;
        height: 28px;
    }

    &-roles {
        border-radius: 50%;
        border: 2px solid #ddd;
        padding: 6px 4px;
        margin-top: 4px;
        width: 28px;
        height: 28px;
        font-size: 12px;

        &.comment-user-administrator,
        &.author-user-administrator {
            background-color: #f4645f;
            color: #fff;
        }

        &.comment-user-developer,
        &.author-user-developer {
            background-color: #32aeff;
            color: #fff;
        }

        &.comment-user-moderator,
        &.author-user-moderator {
            background-color: #f1c40f;
            color: #fff;
        }
    }

    &-status {
        color: #fa6c65;
        display: block;
        padding: 5px 0;
        border-top: none;

        & > i {
            display: inline-block;
            height: 12px;
            width: 12px;
            box-shadow: 0 0 8px #fa6c65;
            background: #fa6c65;
            line-height: 20px;
            vertical-align: middle;
            border-radius: 50%;

            &.online {
                box-shadow: 0 0 8px #6cc644;
                background: #6cc644;
            }
        }

        & > .online {
            color: #6cc644;
        }
    }

    &-media {
        width: 70px;
        height: 70px;
    }

}

/**
  * Reply
  */
.reply {
    display: flex;
    align-items: flex-start;

    &-media {
        margin-right: 20px;

        & > img {
            padding: 0.25rem;
            background-color: #fff;
            border: 2px solid #ddd;
        }
    }

    &-content {
        flex-grow: 1;
    }
}

/**
  * Sidebar
  */
.sidebar-module {
    &-title {
        font-size: 25px;
    }
}
