.error {
    .title {
        font-weight: 100;
        font-size: 152px;
        text-align: center;
    }

    .description {
        font-size: 110%;
        text-align: center;
    }

    .link {
        text-align: center;
    }
}