.features-box {
    margin-top: 30px;
    padding: 20px;
    text-align: center;

    i {
        font-size: 48px;
    }

    h4 {
        font-size: 18px;
        margin: 0.5rem 0;
    }

    p {
        font-size: 14px;
    }
}
