.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 60px;
    line-height: 60px; /* Vertically center the text there */
    border-top: 1px solid $brand-primary;
    background-color: $footer-bg;
    box-shadow: 0 -4px 0 0 $footer-border-color;
    color: $footer-color;

    & > .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
