.footer {
    border-top: 1px solid $brand-primary;
    background-color: $footer-bg;
    box-shadow: 0 -4px 0 0 $footer-border-color;
    color: $footer-color;

    & > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    input {
        border-color: $brand-primary;
        color: $body-color;
    }

    .form-control {
        &:focus {
            color: $body-color;
        }
    }
}