.section-latest-article {
    position:relative;

    .svg-ruler {
        position:absolute;
        right: 10%;
        top: 30%;
    }

    .svg-voyage {
        position: absolute;
        left: 0;
        bottom: 5%;
    }

    .svg-line {
        position:absolute;
        right: 0;
        bottom: 0;
    }
}

.latest-article {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 .275rem .75rem -0.0625rem rgba(19,16,34,.06),0 .125rem .4rem -0.0625rem rgba(19,16,34,.03);

    &-cover {
        min-height: 300px;
        overflow: hidden;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;

        a {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        &-image {
            height: 100%;
        }
    }

    &-body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 300px;
        padding: 10px 20px;

        &-featured {
            position: absolute;
            right: -10px;
            top: -10px;
            padding: 8px;
            font-family: "Cascadia Mono", sans-serif;
            font-weight: 600;
            color: #fff;
            background-color: $brand-primary;
            box-shadow: 0 .5rem 1.125rem -0.5rem $brand-primary;
            border-radius: 10px;
        }

        &-meta {
            &-category {
                padding: 2px 10px;
                background-color: #f3f6ff;
                border-radius: 4px;
            }

            &-time {
                padding-left: 10px;
                margin-left: 10px;
                border-left: 1px solid #e2e5f1;
            }
        }

        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                border-radius: 50%;
                border: 3px solid rgba(0, 0, 0, 0.1);
            }

            &-stats ul {
                margin: 0;
            }
        }

        hr {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .latest-article-cover {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
    }
}