@mixin ma-button-variant($color, $background) {
    text-decoration: none;
    color: $color;
    background-color: $background;

    &:hover,
    &:focus,
    &:active {
        color: $color;
        background-color: darken($background, 5%);
    }
}

// Responsive visibility utilities

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp} {
    @include media-breakpoint-only($bp) {
      display: none !important;
    }
  }
}

@mixin transition($arguments) {
  -webkit-transition: $arguments;
     -moz-transition: $arguments;
       -o-transition: $arguments;
          transition: $arguments;
}

@mixin transition-delay($arguments) {
  -webkit-transition-delay: $arguments;
     -moz-transition-delay: $arguments;
       -o-transition-delay: $arguments;
          transition-delay: $arguments;
}

@mixin transform($arguments) {
  -webkit-transform: $arguments;
     -moz-transform: $arguments;
      -ms-transform: $arguments;
       -o-transform: $arguments;
          transform: $arguments;
}

@mixin transform-origin($arguments) {
	-webkit-transform-origin: $arguments;
	   -moz-transform-origin: $arguments;
		-ms-transform-origin: $arguments;
		 -o-transform-origin: $arguments;
			transform-origin: $arguments;
}

@mixin border-radius($arguments) {
  -webkit-border-radius: $arguments;
     -moz-border-radius: $arguments;
          border-radius: $arguments;
}

@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
     -moz-box-shadow: $arguments;
          box-shadow: $arguments;
}

@mixin animation($arguments) {
	-webkit-animation: $arguments;
	   -moz-animation: $arguments;
		 -o-animation: $arguments;
			animation: $arguments;
}

@mixin animation-name($arguments) {
	-webkit-animation-name: $arguments;
	   -moz-animation-name: $arguments;
		 -o-animation-name: $arguments;
			animation-name: $arguments;
}

@mixin animation-delay($arguments) {
	-webkit-animation-delay: $arguments;
	   -moz-animation-delay: $arguments;
		 -o-animation-delay: $arguments;
			animation-delay: $arguments;
}

@mixin animation-iteration-count($arguments) {
	-webkit-animation-iteration-count: $arguments;
	   -moz-animation-iteration-count: $arguments;
		 -o-animation-iteration-count: $arguments;
			animation-iteration-count: $arguments;
}

@mixin animation-timing-function($arguments) {
	-webkit-animation-timing-function: $arguments;
	   -moz-animation-timing-function: $arguments;
		 -o-animation-timing-function: $arguments;
			animation-timing-function: $arguments;
}

@mixin animation-duration($arguments) {
	-webkit-animation-duration: $arguments;
	   -moz-animation-duration: $arguments;
		 -o-animation-duration: $arguments;
			animation-duration: $arguments;
}

@mixin animation-direction($arguments) {
	-webkit-animation-direction: $arguments;
	   -moz-animation-direction: $arguments;
		 -o-animation-direction: $arguments;
			animation-direction: $arguments;
}


@mixin user-select($arguments) {
	-webkit-user-select: $arguments;
	   -moz-user-select: $arguments;
		-ms-user-select: $arguments;
			user-select: $arguments;
}

@mixin backface-visibility($arguments) {
	-webkit-backface-visibility: $arguments;
	   -moz-backface-visibility: $arguments;
		-ms-backface-visibility: $arguments;
			backface-visibility: $arguments;
}

@mixin perspective($arguments) {
	-webkit-perspective: $arguments;
	   -moz-perspective: $arguments;
		-ms-perspective: $arguments;
		 -o-perspective: $arguments;
			perspective: $arguments;
}

@mixin filter($arguments) {
	-webkit-filter: $arguments;
	   -moz-filter: $arguments;
			filter: $arguments;
}
