.nav-menu {
  @include clearfix();

  .nav-item {
    float: left;

    + .nav-item {
      margin-left: $nav-item-margin;
    }
  }

  .nav-link {
    display: block;
    padding: $nav-manu-nav-link-padding;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    border-right: 4px solid rgba(0, 0, 0, 0.1);

    @include hover {
      color: $nav-menu-active-link-color;
      border-left: 4px solid $nav-menu-active-link-color;
      border-right: 4px solid $nav-menu-active-link-color;
    }

    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      color: $nav-menu-active-link-color;
      cursor: default;
      border-left: 4px solid $nav-menu-active-link-color;
      border-right: 4px solid $nav-menu-active-link-color;
    }
  }
}

.navbar-notifications {
  .dropdown-toggle {
    font-size: 19px;
    padding-top: .325rem;
    padding-bottom: .325rem;
    display: inline-block;

    &:before {
      content: attr(data-number);
      font-size: 8px;
      position: absolute;
      top: -3px;
      left: -3px;
      font-weight: bold;
      color: $brand-primary;
      z-index: 2;
    }

    &:after {
      content: none;
    }

    i {
      font-weight: bold;
    }
  }

  .dropdown-menu {
    max-width: 400px;
  }

  .dropdown-item {
    position: relative;
    min-width: 390px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $body-color;
    border-top: 1px dashed rgba(0, 0, 0, 0.1);

    &:first-child,
    &:last-child,
    &:nth-child(3) {
      border-top: none;
    }

    .message {
      white-space: initial;
      font-size: .9em;
    }

    img {
      width: 45px;
      height: 45px;
    }

    .new {
      margin: -5px 0 5px;
      font-size: 11px;
      color: #FFF;
      background-color: $brand-primary;
      padding: 1px 5px;
      border-width: 1px;
      border-style: solid;
      border-color: $brand-primary;
      right: -10px;
      top: 7px;
      position: absolute;
      border-radius: 3px 0 3px 3px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.247);

      span {
        background-color: $brand-primary;
        border-top-right-radius: 3px;
        position: absolute;
        top: -4px;
        right: -1px;
        width: 10px;
        height: 4px;
        -webkit-transform: initial;
        transform: initial;

        &:before {
          position: absolute;
          top: 100%;
          content: attr(data-hover);
          font-weight: 700;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}