.nav-menu {
  @include clearfix();

  .nav-item {
    float: left;

    + .nav-item {
      margin-left: $nav-item-margin;
    }
  }

  .nav-link {
    display: block;
    padding: $nav-manu-nav-link-padding;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    border-right: 4px solid rgba(0, 0, 0, 0.1);

    @include hover {
      color: $nav-menu-active-link-color;
      border-left: 4px solid $nav-menu-active-link-color;
      border-right: 4px solid $nav-menu-active-link-color;
    }

    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .active .nav-link,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      color: $nav-menu-active-link-color;
      cursor: default;
      border-left: 4px solid $nav-menu-active-link-color;
      border-right: 4px solid $nav-menu-active-link-color;
    }
  }
}
.nav-pills {
    .active .nav-link,
    .nav-item.open .nav-link {
      @include plain-hover-focus {
        color: $white;
        cursor: default;
        background-color: $nav-menu-active-link-color;
      }
    }
}

.navbar-notifications {
  .dropdown-toggle {
    font-size: 19px;
    padding-top: .325rem;
    padding-bottom: .325rem;
    display: inline-block;

    &:before {
      content: attr(data-number);
      font-size: 8px;
      position: absolute;
      top: -3px;
      left: -3px;
      font-weight: bold;
      color: $brand-primary;
      z-index: 2;
    }

    &:after {
      content: none;
    }

    i {
      font-weight: bold;
    }
  }

  .dropdown-menu {
    max-width: 400px;

    button {
      font-size: 0.8em;
      cursor: pointer;
    }
  }

  .dropdown-item {
    position: relative;
    min-width: 390px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $body-color;
    border-top: 1px dashed rgba(0, 0, 0, 0.1);

    &:hover .markasread {
      opacity: 1;
      right: -98px;
      top: 25px;
      visibility: visible;
    }

    &:first-child,
    &:last-child,
    &:nth-child(3) {
      border-top: none;
    }

    .message {
      white-space: initial;
      font-size: .9em;
    }

    img {
      width: 45px;
      height: 45px;
    }

    i {
      vertical-align: middle;
    }

    .markasread {
      position: absolute;
      display: inline-block;
      right: 0;
      visibility: hidden;
      opacity: 0;
      padding: 5px 10px;
      background-color: #fff;
      border: 2px solid rgba(0, 0, 0, 0.15);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: #fff;
      border-radius: $border-radius;
      color: $brand-primary;
      transition: opacity .3s ease-in, visibility 0s linear;
    }
  }
}
