.new {
    margin: -5px 0 5px;
    font-size: 11px;
    color: #FFF;
    background-color: $brand-primary;
    padding: 1px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: $brand-primary;
    right: -10px;
    top: 7px;
    position: absolute;
    border-radius: 3px 0 3px 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.247);

    span {
        background-color: $brand-primary;
        border-top-right-radius: 3px;
        position: absolute;
        top: -4px;
        right: -1px;
        width: 10px;
        height: 4px;
        -webkit-transform: initial;
        transform: initial;

        &:before {
            position: absolute;
            top: 100%;
            content: attr(data-hover);
            font-weight: 700;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}