.profile-container {
    padding-top: 53px;
    overflow: hidden;

    .profile-header {
        height: 280px;
        max-width: 2560px;
        position: relative;
        z-index: 3;

        .background-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background-image: url(/images/profile/overlay.png);

            .background {
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                margin: auto 0;
                width: 100%;
                opacity: 0.8;

                @include media-breakpoint-down(xs) {
                    width: inherit;
                }
            }
        }
    }

    .profile-information {
        padding-top: 50px;

        ul {
            margin: 0;
        }

        li {
            background: rgba(0,0,0,0.3);
            padding: 15px 30px;
            border-radius: $border-radius;

            img {
                border: 8px solid rgba(255,255,255,0.3);
                max-width: 120px;
            }

            .username {
                margin-top: 10px;
                color: #ffffff;
                text-shadow: 0 0 4px #FFF;
            }
        }
    }

    .profile-header-navbar {
        border-bottom: 1px solid #e1e8ed;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 60px;

        .statistics {
            height: 60px;
            margin: 0;
            box-sizing: border-box;
            border-bottom: 0 solid;
            display: block;
            line-height: 1;
            padding: 14px 15px 14px;
            text-align: center;

            & > li {
                padding-right: 15px;
                padding-left: 15px;

                & > .text {
                    font-size: 11px;
                    letter-spacing: .02em;
                    text-transform: uppercase;
                    transition: color .15s ease-in-out;
                    display: block;
                    padding-bottom: 5px;
                }

                & > .number {
                    font-size: 18px;
                    padding-top: 3px;
                    font-weight: 500;
                    transition: color .15s ease-in-out;
                }
            }
        }

        .socials {
            height: 60px;
            padding-right: 10px;
            padding-left: 10px;
            margin: 0;

            & > li {
                padding: 16px 10px;
                margin: 0;
                vertical-align: top;

                & > a {
                    display: block;
                }
            }
        }
    }
}

.profile {
    .section {
        padding: 25px 30px;
        border: 1px solid #e1e8ed;
        border-radius: $border-radius;
    }

    .sidebar-profile {
        text-align: center;
        padding: 30px 60px 20px;
        border: 1px solid #e1e8ed;
        border-radius: $border-radius;

        img {
            width: 120px;
            border: 4px solid #DEDEDE;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .role,
        .joinedDate,
        .social {
            display: block;
            padding: 10px 0;
            border-top: 1px dotted #ddd;
        }
    }

    .table-profile {
        .avatar {
            margin-right: 5px;
            float: left;
            height: 42px;
            width: 42px;
        }

        time {
            font-size: 80%;
        }
    }

    .biography,
    .badges {
        border-top: 2px solid #eceeef;
    }
}

@include media-breakpoint-down(md) {
    .sidebar-profile {
        margin-bottom: 30px;
    }
}

@include media-breakpoint-up(lg) {

    .sidebar-profile {
        &.fixed {
            position: fixed;
            top: 60px;
        }
    }
}

@include media-breakpoint-down(lg) {

    .profile {
        .sidebar-profile {
            padding: 30px 30px 20px;
        }
    }

    .sidebar-profile.fixed {
        width: 210px;
    }
}

@include media-breakpoint-up(xl) {

    .sidebar-profile.fixed {
        width: 255px;
    }
}




@media (max-width: 560px) {
    .profile-container {
        .profile-header-navbar {
            .socials {
                display: none;
            }
        }
    }
}
@media (max-width: 768px) {
    .profile-container {
        padding-top: 0px;
    }
}
@media (max-width: 1100px) {
    .profile-container {
        .profile-information {
            padding-top: 25px;
        }
    }
}
@media (min-width: 1000px) {
    .profile-container {
        .profile-header {
            height: 280px;
        }
    }
}
@media (min-width: 1100px) {
    .profile-container {
        .profile-header {
            height: 300px;
        }
    }
}
@media (min-width: 1200px) {
    .profile-container {
        .profile-header {
            height: 320px;
        }
    }
}
@media (min-width: 1370px) {
    .profile-container {
        .profile-header {
            height: 360px;
        }
    }
}
@media (min-width: 1450px) {
    .profile-container {
        .profile-header {
            height: 380px;
        }
    }
}
@media (min-width: 1510px) {
    .profile-container {
        .profile-header {
            height: 420px;
        }
    }
}
@media (min-width: 1670px) {
    .profile-container {
        .profile-header {
            height: 460px;
        }
    }
}
@media (min-width: 1820px) {
    .profile-container {
        .profile-header {
            height: 500px;
        }
    }
}
@media (min-width: 1990px) {
    .profile-container {
        .profile-header {
            height: 540px;
        }
    }
}
@media (min-width: 2150px) {
    .profile-container {
        .profile-header {
            height: 580px;
        }
    }
}
@media (min-width: 2300px) {
    .profile-container {
        .profile-header {
            height: 600px;
        }
    }
}
