.profile-container {
    padding-top: 53px;
    overflow: hidden;

    .profile-header {
        height: 280px;
        max-width: 2560px;
        position: relative;
        z-index: 3;

        .background-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background-image: url(/images/profile/overlay.png);

            .background {
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                margin: auto 0;
                width: 100%;
                opacity: 0.8;

                @include media-breakpoint-down(xs) {
                    width: inherit;
                }
            }
        }
    }

    .profile-information {
        padding-top: 50px;

        ul {
            margin: 0;
        }

        li {
            background: rgba(0,0,0,0.3);
            padding: 15px 30px;
            border-radius: $border-radius;

            img {
                width: 120px;
                height: 120px;
                border: 8px solid rgba(255,255,255,0.3);
            }

            .username,
            .full-name {
                margin-top: 10px;
                color: #ffffff;
                text-shadow: 0 0 4px #FFF;
            }

            .topleaderboard {
                position: relative;

                i {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }

    .profile-header-navbar {
        border-bottom: 1px solid #e1e8ed;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 60px;

        .statistics {
            height: 60px;
            margin: 0;
            box-sizing: border-box;
            border-bottom: 0 solid;
            display: block;
            line-height: 1;
            padding: 14px 15px 14px;
            text-align: center;

            & > li {
                padding-right: 15px;
                padding-left: 15px;

                & > .text {
                    font-size: 11px;
                    letter-spacing: .02em;
                    text-transform: uppercase;
                    transition: color .15s ease-in-out;
                    display: block;
                    padding-bottom: 5px;
                }

                & > .number {
                    font-size: 18px;
                    padding-top: 3px;
                    font-weight: 500;
                    transition: color .15s ease-in-out;
                }
            }
        }

        .socials {
            height: 60px;
            padding-right: 10px;
            padding-left: 10px;
            margin: 0;

            & > li {
                padding: 16px 10px;
                margin: 0;
                vertical-align: top;

                & > a {
                    display: block;
                }
            }
        }
    }
}

.profile {
    .sidebar-profile {
        text-align: center;
        padding: 10px 10px 10px ;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 20px 5px rgb(19 16 34 / 6%);

        img {
            width: 120px;
            border: 4px solid #DEDEDE;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .username {
            font-size: 22px;
        }

        .role,
        .joinedDate,
        .social {
            display: block;
            padding: 10px 0;
            border-top: 1px dotted #ddd;
        }

        .role {
            border-top: 0px;
        }
    }

    .table-profile {
        .avatar {
            margin-right: 5px;
            float: left;
            height: 42px;
            width: 42px;
        }

        time {
            font-size: 80%;
        }
    }

    .profile-box {
        padding: 20px;
        text-align: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 20px 5px rgb(19 16 34 / 6%);

        .profile-box-icon-experiences {
            color: $brand-experiences;
        }

        .profile-box-icon-comment {
            color: $brand-success;
        }

        .profile-box-title {
            font-size: 25px;
        }
    }
}

.profile-badges-item {
    color: #fff;
    border-radius: 50%;
    border: 3px solid #ddd;
    padding: 6px 4px;
    width: 38px;
    height: 38px;
    font-size: 20px;
    background-color: #fff;

    &.fa-diamond, &.fa-medal {
        padding: 8px 4px;
    }

    &.fa-comment-dots {
        padding: 6px 6px;
    }
}

@include media-breakpoint-up(lg) {
    .profile {
        .sidebar-profile,
        .profile-box {
            min-height: 100%;
        }
    }
}
@include media-breakpoint-down(lg) {
    .profile {
        .sidebar-profile,
        .profile-box {
            margin-bottom: 20px;
        }
    }
}
