::selection {
    background: $selection-background;
    color: $selection-color;
}
::-moz-selection {
    background: $selection-background;
    color: $selection-color;
}

::-webkit-scrollbar{
    width: $scrollbar-width;
}
::-webkit-scrollbar-thumb{
    background: $scrollbar-bar-background;
    border-radius: 0;
}
::-webkit-scrollbar-track{
    background: $scrollbar-background;
}
::-webkit-scrollbar:horizontal{
    height: $scrollbar-width;
}