
@import "../bootstrap/variables";

/**
 * CodeMirror `mdn-like` theme.
 */
.cm-s-mdn-like .CodeMirror-gutters {
  border-left: 6px solid rgba(244,100,95,0.65) !important;
}

/**
 * Editor Mask
 *
 */
.editormd-mask {
  background-color: #000 !important;
  opacity: .2 !important;
}

/**
 * Button
 */
.editormd-form input[type="submit"], .editormd-form .editormd-btn, .editormd-form button,
.editormd-dialog-container input[type="submit"],
.editormd-dialog-container .editormd-btn,
.editormd-dialog-container button,
.editormd-dialog-footer input[type="submit"],
.editormd-dialog-footer .editormd-btn,
.editormd-dialog-footer button {
  color: $brand-primary;
  background: transparent;
  border: 2px solid $brand-primary;
}

.editormd-form input[type="submit"]:hover,
.editormd-form .editormd-btn:hover,
.editormd-form button:hover,
.editormd-dialog-container input[type="submit"]:hover,
.editormd-dialog-container .editormd-btn:hover,
.editormd-dialog-container button:hover,
.editormd-dialog-footer input[type="submit"]:hover,
.editormd-dialog-footer .editormd-btn:hover,
.editormd-dialog-footer button:hover,
.editormd-file-input input[type=file]:hover {
  color: $white;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

/* Toolbar Button */
.editormd-menu > li > a {
  color: $brand-primary;
  border: 1px solid transparent;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.editormd-menu > li > a:hover, .editormd-menu > li > a.active {
  color: $white;
  border-color: transparent;
  background: $brand-primary;
}

.editormd-menu > li > a > .fa {
  padding: 5px 8px;
}
.editormd-menu > li > a > .editormd-bold {
  padding: 5px;
}

/**
 * Form
 */
.editormd-form input[type="text"],
.editormd-form input[type="number"] {
  color: #999;
  padding: 8px 2px 8px 5px;
  border: $input-btn-border-width solid $input-border-color;
  border-radius: $input-border-radius;
}

.editormd-form input[type="text"]:focus,
.editormd-form input[type="number"]:focus,
.editormd-dialog-container select:focus {
  background-color: $white;
  border-color: $brand-primary;
}

.editormd-dialog-container select {
  padding: 4px 8px;
  color: #999;
  background-color: $white;
  border: $input-btn-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  outline: none;
}
