.morris-hover {
    position: absolute;
    z-index: 1000;
}
.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 8px;
    color: #ccc;
    background: rgba(0,0,0,.4);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0;
}
